<a href="https://colab.research.google.com/github/zmarkofsky/DSML_capstone/blob/main/EDA_initial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Fire Data

In [5]:
df_fire = pd.read_csv("/content/drive/MyDrive/Capstone - Data Science/Fire Data/donneesouvertes-interventions-sim.csv")
df_casernes = pd.read_csv("/content/drive/MyDrive/Capstone - Data Science/Fire Data/casernes.csv")

In [4]:
df_fire

        INCIDENT_NBR   CREATION_DATE_TIME  ...  LONGITUDE   LATITUDE
0              14219  2015-02-07T16:31:16  ... -73.689547  45.543225
1              14317  2015-02-07T22:19:06  ... -73.613142  45.540682
2              15188  2015-02-10T09:06:01  ... -73.587945  45.518350
3              15237  2015-02-10T11:06:18  ... -73.567090  45.461899
4              15242  2015-02-10T11:21:30  ... -73.582907  45.583522
...              ...                  ...  ...        ...        ...
789848         79138  2018-08-10T18:52:29  ... -73.554818  45.519931
789849         64734  2017-06-30T18:26:08  ... -73.615169  45.537523
789850         50205  2021-06-24T18:55:15  ... -73.542945  45.504659
789851         72626  2017-07-21T11:33:40  ... -73.934730  45.455409
789852          4920  2020-01-16T12:05:25  ... -73.642505  45.432339

[789853 rows x 13 columns]

Warning: total number of rows (789853) exceeds max_rows (20000). Limiting to first (20000) rows.

In [6]:
df_casernes

    CASERNE  NO_CIVIQUE  ...    MTM8_X     MTM8_Y
0         3         256  ...  300097.0  5039283.0
1        15        1255  ...  300038.0  5038279.0
2        23         523  ...  298134.6  5037547.3
3        33        6040  ...  297335.0  5035328.0
4         9        8100  ...  296200.0  5047099.0
..      ...         ...  ...       ...        ...
63        8       11371  ...  305092.0  5054628.0
64       77         114  ...  293220.0  5034876.0
65       55         401  ...  280058.0  5034258.0
66       51         550  ...  269580.0  5030970.0
67       76          19  ...  297106.0  5038493.0

[68 rows x 11 columns]

In [7]:
df_fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789853 entries, 0 to 789852
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INCIDENT_NBR        789853 non-null  int64
 1   CREATION_DATE_TIME  789853 non-null  object
 2   INCIDENT_TYPE_DESC  789853 non-null  object
 3   DESCRIPTION_GROUPE  789828 non-null  object
 4   CASERNE             789853 non-null  int64
 5   NOM_VILLE           789853 non-null  object
 6   NOM_ARROND          789853 non-null  object
 7   DIVISION            789853 non-null  int64
 8   NOMBRE_UNITES       789619 non-null  float64
 9   MTM8_X              789853 non-null  float64
 10  MTM8_Y              789853 non-null  float64
 11  LONGITUDE           789853 non-null  float64
 12  LATITUDE            789853 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 78.3+ MB

In [8]:
for col_name, col_data in df_fire.iteritems():
     print(col_name)
     print(col_data.unique())

INCIDENT_NBR
[ 14219  14317  15188 ... 128499 130062 128795]
CREATION_DATE_TIME
['2015-02-07T16:31:16' '2015-02-07T22:19:06' '2015-02-10T09:06:01' ...
 '2021-06-24T18:55:15' '2017-07-21T11:33:40' '2020-01-16T12:05:25']
INCIDENT_TYPE_DESC
['Premier répondant' 'Appel de Cie de détection' 'Odeur suspecte - gaz'
 '10-22 sans feu' 'Feu / 4e Alerte' 'Aliments surchauffés'
 'Alarme privé ou locale' 'Avertisseur de CO' 'Problèmes électriques'
 'Ac.véh./1R/s.v./ext/29B/D' 'Alarme vérification' 'Ascenseur'
 'Feu / Agravation possible' 'Ac.véh./1R/s.v./V.R./29B/D' '10-22 avec feu'
 'Fuite gaz naturel 10-22' 'Inondation' 'Acc. sans victime sfeu - ext.'
 'Aide à un citoyen' 'Feu de champ *' 'Feu de bâtiment'
 'Feu de véhicule extérieur' 'Déchets en feu' 'Structure dangereuse'
 'Avertisseur - gaz F7/GAZ' 'Sauv. naut.\\surfaces glacées'
 'Matières dangereuses / 10-22' 'Fuite gaz nat 10-07 F7/2GAZ'
 'Acc. sans victime sfeu - v.r' 'Fuite ext.:hydrocar. liq. div.'
 'Assistance serv. muni.' 'Feu de cuisinière'
 'Sauvetage en hauteur / 10-22' 'Sauv. nautique Zone 4'
 'Sauv. nautique p.e. intérieurs' 'Incendie de fondoir à goudron'
 'Appel Cie détection CO F7/CO' 'Feu / 3e Alerte'
 "Senteur de feu à l'extérieur" 'PR 10-07 Sauvetage en hauteur'
 'Acc. véh victime sfeu - (ext.)' 'Surchauffe - véhicule'
 'Sauv. nautique Zone 1' "Feu d'auto (voie rapide)"
 'Acc.véh/1rép/vict/v.r. 29D04' 'Acc. sans vict. sfeu bâtiment'
 'Fuite gaz naturel 10-09' 'Fausse alerte 10-19'
 'Feu de nature électrique' 'Ac.véh./1R/s.v./pont/29B/D' 'Feu / 2e Alerte'
 '10-22 PR impliquant 10-43' 'Acc.véh/1rép/vict/ext 29D04'
 'Sauv. espace clos / 10-22' 'PR 10-07 impliquant 10-43'
 'Dégag bat./1rép - 22D02' 'Sauvetage en hauteur / 10-07'
 'Alarme détection / intrusion' 'Sauv. nautique Zone 2'
 'Appel de cie détection - GAZ' 'Feu de cheminée *' "Fumée - puit d'accès"
 'Sauv.effon.struc. 10-22' 'Sauv. nautique Zone 3' 'Sauv. nautique Zone 6'
 'Fuite de bonbonne de propane' 'Vérif.sauv.naut.\\surf.glacées'
 'Fuite contrôlée raffinerie' 'Sauvetage nautique/ 10-07'
 'Acc. sans vict. sfeu - pont' 'Fuite int.:hydrocar. liq. div.'
 'Dégagement bâtiment' 'Acc. sans vict. av. feu - ext.'
 'Ac.véh./1R/s.v./bat/29B/D' 'Feu de véhicule intérieur'
 'Ac.véh./1R/s.v./rail/29B/D' 'Interv. niveau/pistes +P'
 'PR sauvetage en hauteur' 'Métro bâtiment /10-22 avec feu'
 'Ac.véh./s.v./tun/29B/D F7/MOU' 'Acc. vict. sfeu tunnel F7/MOU'
 'Feu / 5e Alerte' 'Matières dangereuses / 10-07'
 'Première alerte/autre que BAT' 'Sauv. nautique Zone 7'
 'Ac.véh./1R/v./rail:29D F7/DES' '10-22 pour appel aéroport'
 'Pers. en détresse sur pont' 'Sauv. espace clos / 10-09'
 'Sauv. nautique p.e. extérieurs' 'Feu véh. convoi (train/métro)'
 'Acc. vict.convoi (train/métro)' 'Sauv. nautique Zone 5'
 'INCIDENT CONTRÔLE RAFF/CH.FER ' 'feu de véhicule tunnel F7/MOU'
 'Alerte à la bombe' '10-22 PR sauvetage en hauteur'
 'Fuite gaz naturel F7/2GAZ' 'Explosion' 'Transbordement mat. explos'
 "PR nautique plan d'eau ext." "Surplus d'huile"
 'Feu de véhicule sur pont' 'Sauvetage naut. glace/ 10-07' 'Barricadage'
 'EN01' 'Acc. sans victime sfeu  tunnel' 'Fumigation F7/GAZ'
 'Métro bâtiment /10-22 sans feu' 'Entraide incendie - appel init'
 'Sauv. espace clos / 10-07' 'PR nautique-glace'
 'PR sauvetage naut plan eau int' 'Acc. victime sfeu - voie rap.'
 'Acc.véh/1rép/vict/pont 29D04' 'Sauv.effon.tranchée 10-22'
 'PR impliquant 10-43' 'Sauv.effon.struc. 10-07 F7/GAZ'
 'Fuite gaz naturel 10-12' 'Acc.véh/1rép/vict/tun 29D04 F7'
 '10-22 PR effon de structure' 'Sauv. Hauteur J.Cartier/naut'
 'Acc.véh/1rép/vict/bat 29D04' '10-22 PR sauvetage tech. clos'
 'Deuxième alerte/autre que BAT' 'Feu de navire/bâteau'
 'PR 10-07 nautique. intérieur' 'Acc. victime sfeu - bâtiment'
 'Acc. s-vict. av. feu - v.r.' "PR 10-07 naut. plan d'eau ext."
 'PR 10-07 espace clos' 'Interv. aérogare ou bâtiment'
 '10-07 Sauvetage sur un pont' 'Pour une interv. dans le metro'
 'PR sauv. tech. effon structure' 'Ac.s.vict. sfeu train/métro '
 'PR 10-07 effon tranchée' 'Matières dangereuses / 10-09'
 'Acc. victime sfeu - pont' 'Fuite de gaz naturel complétée'
 'PR Détresse sur un pont' 'Agravation pos./Autre que BAT'
 'Troisième alerte/autre que BAT' 'Sauv.effon.tranchée 10-07'
 'Acc.véh/1rép/ sans victime' 'Acc. s-vict. av. feu - pont'
 'INT. POLICIERE SANS URGENCE' 'PR 10-07 nautique-glace'
 'Sauv.effon.structure F7/GAZ' 'Acc. s-vict. feu - train/métro']
DESCRIPTION_GROUPE
['1-REPOND' 'Alarmes-incendies' 'SANS FEU' 'INCENDIE' 'AUTREFEU'
 'FAU-ALER' 'NOUVEAU' nan]
CASERNE
[42 31 30 66 22 14 65 55 27 40 34 21 29 23 48 15 28 46  5 73 41 18 26 19
 33 17 43 63 50 75  4 67 10 38 44 64 20 72 37 25 58 54 53 13 45 16 57 47
 56 39 74  9 59 77 76  3 49 71 35 61 52 78 32 51  8 62]
NOM_VILLE
['Montréal' 'Pointe-Claire' 'Dorval' 'Kirkland' 'Beaconsfield'
 'Mont-Royal' 'Montréal-Ouest' 'Westmount' 'Dollard-des-Ormeaux'
 "Baie d'Urfé" 'Côte St-Luc' 'Ste-Anne-de-Bellevue' 'Montréal-Est'
 'Hampstead' 'Senneville' 'Indéterminé' 'Ile Dorval']
NOM_ARROND
['Ahuntsic / Cartierville' 'Rosemont / Petite-Patrie' 'Plateau Mont-Royal'
 'Verdun' 'Saint-Léonard' 'Rivière-des-Prairies / Pointe-aux-Trembles'
 'Lasalle' 'Indéterminé' 'Côte-des-Neiges / Notre-Dame-de-Grâce'
 'Mercier / Hochelaga-Maisonneuve' 'Sud-Ouest' 'Anjou' 'Ville-Marie'
 'Saint-Laurent' 'Villeray / St-Michel / Parc Extension' 'Montréal-Nord'
 'Outremont' 'Lachine' 'Pierrefonds / Roxboro'
 "L'Ile-Bizard / Ste-Geneviève"]
DIVISION
[ 3  7  5  8  9  2  4  6  1  0 14 17 11 12 10]
NOMBRE_UNITES
[  1.   4.   2.   8.  53.   5.   3.   7.  24.   6.  10.  12.  11.  29.
   9.  26.  21.  85.  14.  23.  25.  13.  17.  31.  22.  74.  20.  48.
  38.  16.  46.  39.  18.  33.  59.  19.  30.  34.  15.  27.  43.  61.
  36.  28.  73.  50.  42.  35.  37.  45.  54.  62.  63. 163.  71.  40.
  82.  66.  47.  32.  58.  51.  49. 160.  77.  56.  80.  52. 131. 173.
  44.  65.  70.  57.  68.  41.  64.  81.  89. 182.  83. 106.  55.  78.
  67.  92. 185.  69. 107. 126.  91. 130.  75.  86. 120. 115. 153.  72.
  79.  87. 127.  84. 108.  nan]
MTM8_X
[289998.2 295964.3 297929.3 ... 292667.1 277273.3 293409. ]
MTM8_Y
[5044829.8 5044535.9 5042051.7 ... 5033593.5 5038385.6 5040601. ]
LONGITUDE
[-73.689547 -73.613142 -73.587945 ... -73.608321 -73.655211 -73.852258]
LATITUDE
[45.543225 45.540682 45.51835  ... 45.48529  45.504787 45.520617]

In [9]:
for col_name, col_data in df_casernes.iteritems():
     print(col_name)
     print(col_data.unique())

CASERNE
[ 3 15 23 33  9 37 41 14 38 44 32  4 27 34 46 17 18 16 26 30 21 22 28 29
 31 47 50  2  5 10 19 20 25 13 39 40 45 48 75 64 71 72 73 57 58 59 35 42
 43 49 66 67 65 56 52 53 78 61 62 63 79 54 74  8 77 55 51 76]
NO_CIVIQUE
[  256  1255   523  6040  8100   795  7405  8216 14201 12145 16101  5260
  5353  5369  4760  4240 12012  1041  2151     5  6025  5455  7650  5375
  7041  2111  6490    10    75  1445  2000   920  1212  3250  2915  8639
  5100  3616    40  3175  5500  2727   820 13795    13 18661 10827  4180
  1945  4398   911  1300   230   330   310  6815   150   530  5520  3048
 11371   114   401   550    19]
RUE
['rue  Young' 'rue de la Sucrerie' 'place Saint-Henri' 'boulevard Monk'
 'boulevard Saint-Michel' 'rue Jarry Est' 'avenue Champagneur'
 'boulevard Maurice-Duplessis' 'rue Sherbrooke Est'
 'boulevard Rivière-des-Prairies' 'rue Van Horne' 'rue Gatineau'
 'chemin de la Côte-Saint-Antoine' 'avenue Cumberland' 'rue de Charleroi'
 'boulevard Rolland' 'rue Rachel Est' 'avenue Mont-Royal Est'
 'rue Laurier Ouest' 'boulevard Lavoisier' 'rue Antonio-Dagenais'
 'boulevard Châteauneuf' '1ère Avenue' 'rue Saint-Dominique'
 'rue Saint-Zotique Est' '30e Avenue' "chemin du Tour-de-L'Isle"
 'rue Ontario Est' 'rue Saint-Mathieu' 'rue de Lorimier'
 'rue Saint-Urbain' 'rue Drummond' 'rue Sainte-Catherine Est'
 'rue Monsabré' 'avenue Pierre-De-Coubertin' 'rue Hochelaga'
 'avenue Saint-Just' 'rue Remembrance' 'chemin du Bois-Franc'
 'boulevard Poirier' 'rue Saint-Germain' 'boulevard Pierrefonds'
 'rue du Centre Commercial' 'Boulevard Pierrefonds' 'rue Lajeunesse'
 'rue De Salaberry' 'rue Fleury Est' 'rue Chabanel Ouest'
 'boulevard LaSalle' 'boulevard René-Lévesque' 'avenue Dollard'
 'boulevard Chèvremont' 'rue Surrey' 'Beaurepaire drive'
 'chemin Côte-Saint-Luc' 'rue Sunnydale' 'avenue Avro'
 'boulevard Bouchard' 'avenue MacDonald' 'boulevard Saint-Charles'
 'avenue Roosevelt' 'rue Notre-Dame Est' 'avenue Westminster Nord'
 'boulevard Saint-Jean' 'boulevard des Anciens-Combattants' 'rue Stanton']
LATITUDE
[45.49345438 45.48441948 45.47782005 45.45784137 45.56374847 45.54637349
 45.52763027 45.63360235 45.6722214  45.65265114 45.69705219 45.48998994
 45.49739147 45.47545214 45.4670027  45.59341352 45.61661101 45.52581296
 45.53602803 45.52296496 45.59720428 45.58286372 45.60283913 45.5453476
 45.53472329 45.54751761 45.56686313 45.51899056 45.51223941 45.49456694
 45.52798245 45.50593569 45.49781106 45.53986789 45.57252179 45.60134029
 45.5630113  45.54732334 45.51776011 45.43728577 45.49395415 45.50843136
 45.51261509 45.49375337 45.50965267 45.4587535  45.55601715 45.5344651
 45.56940407 45.54404938 45.45994266 45.46921423 45.42594736 45.49367789
 45.41959923 45.42878882 45.46795718 45.49403947 45.47419606 45.44705633
 45.48348693 45.44909289 45.51526761 45.63154965 45.45371794 45.44781488
 45.41777915 45.48631899]
LONGITUDE
[-73.560172   -73.56091713 -73.58525662 -73.59544993 -73.61016886
 -73.62675756 -73.62638262 -73.58622282 -73.50512113 -73.56293404
 -73.49236718 -73.64163794 -73.62195174 -73.61425587 -73.63852389
 -73.63728375 -73.62150467 -73.57490287 -73.57193301 -73.59324299
 -73.60027477 -73.58597367 -73.55872487 -73.57617101 -73.61569458
 -73.59798362 -73.57545702 -73.53473261 -73.56684729 -73.58014554
 -73.55796836 -73.55914874 -73.57308718 -73.54030989 -73.5433185
 -73.5226894  -73.54126155 -73.55082939 -73.60780072 -73.69109897
 -73.74420035 -73.70957635 -73.67804299 -73.84983863 -73.80629581
 -73.89774683 -73.67029002 -73.70384732 -73.65300907 -73.65100667
 -73.56279598 -73.53424864 -73.62653888 -73.87641222 -73.91207791
 -73.86841508 -73.65217171 -73.80664616 -73.78653497 -73.73544094
 -73.63933184 -73.85599306 -73.64077979 -73.49625489 -73.64805482
 -73.81630319 -73.9500159  -73.59842754]
ARRONDISSEMENT
['LE SUD-OUEST' 'VILLERAY-SAINT-MICHEL-PARC-EXTENSION'
 'RIVIÈRE-DES-PRAIRIES-POINTE-AUX-TREMBLES'
 'CÔTE-DES-NEIGES-NOTRE-DAME-DE-GRÂCE' 'MONTRÉAL-NORD'
 'LE PLATEAU-MONT-ROYAL' 'SAINT-LÉONARD' 'ANJOU'
 'ROSEMONT-LA PETITE-PATRIE' 'VILLE-MARIE' 'MERCIER-HOCHELAGA-MAISONNEUVE'
 'OUTREMONT' 'LACHINE' 'SAINT-LAURENT' 'PIERREFONDS-ROXBORO'
 'AHUNTSIC-CARTIERVILLE' 'VERDUN' 'LASALLE'
 "L'ÎLE-BIZARD-SAINTE-GENEVIÈVE" nan]
VILLE
[nan "BAIE-D'URFÉ" 'BEACONSFIELD' 'CÔTE-SAINT-LUC' 'DOLLARD-DES-ORMEAUX'
 'DORVAL' 'HAMPSTEAD' 'KIRKLAND' 'MONT-ROYAL' 'MONTRÉAL-EST'
 'MONTRÉAL-OUEST' 'POINTE-CLAIRE' 'SAINTE-ANNE-DE-BELLEVUE' 'WESTMOUNT']
DATE_DEBUT
['2015-01-01T07:00:00' '2019-05-06T07:00:00' '1900-01-01T07:00:00']
DATE_FIN
[nan '2009-11-05T06:59:59']
MTM8_X
[300097.  300038.  298134.6 297335.  296200.  294902.  294928.  298077.6
 304401.  299895.  305394.4 293729.  295269.  295867.  293968.  294089.
 295324.  298949.  299182.  297516.  296977.  298091.  300219.  298852.
 295764.  297149.  298910.  302086.6 299577.  298536.  300272.  300178.
 299088.  301652.  301419.  303030.  301579.  300831.  296378.  289849.
 285713.6 288424.  290889.  277457.  280867.  273693.3 291505.  288879.
 292857.  293008.  299889.  302122.  294898.  275380.  272550.2 275972.
 292901.  280833.  282397.  286383.  293908.  276954.  293801.  305092.
 293220.  280058.  269580.  297106. ]
MTM8_Y
[5039283.  5038279.  5037547.3 5035328.  5047099.  5045170.  5043087.
 5054859.7 5059148.  5056975.  5061907.6 5038906.  5039726.  5037287.
 5036351.  5050399.  5052975.  5042880.  5044015.  5042565.  5050816.
 5049221.  5051439.  5045051.  5043874.  5045294.  5047442.  5042119.7
 5041371.  5039408.  5043120.  5040670.  5039768.  5044440.  5048069.
 5051271.  5047012.  5045269.  5041988.  5033057.  5039365.8 5040967.
 5041426.  5039374.  5041127.  5035501.9 5046248.  5043859.  5047733.
 5044915.  5035559.  5036588.  5031787.  5039375.  5031156.4 5032161.
 5036459.  5039392.  5037181.  5034152.  5038183.  5034413.  5041715.
 5054628.  5034876.  5034258.  5030970.  5038493. ]